body{
    font-family:'Nunito', sans-serif;
}

.header-table{
    width: 50%;
    height: 800px;
    background: url(../img/header-table.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.header-container{
    height: 450px;
    display: flex;
    align-items: center;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #DAA520;
}

.button{
    background: #DAA520;
    text-decoration: none;
    color:#ffffff;
    padding: 8px;
    border-radius: 4px;

}